.Container{
    max-width: 1240px;
<<<<<<< HEAD
    margin: 0 auto;
=======
    margin: 16px auto;
>>>>>>> 364170ec3993ce68917be88bf18b3ac256fb38c1
    padding: 0 40px;
}

.Cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}