<<<<<<< HEAD
.Card{
    max-width: 840px;
    margin: 80px auto;
    padding: 24px 40px;
    background-color: #6495ED;
=======
.Container{
    max-width: 840px;
    margin: 80px auto;
    padding: 0 40px;
>>>>>>> 364170ec3993ce68917be88bf18b3ac256fb38c1
}

.Objective{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 16px;
}

.Owner{
    display: flex;
<<<<<<< HEAD
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding:0  24px 24px 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid white;
=======
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 24px;
>>>>>>> 364170ec3993ce68917be88bf18b3ac256fb38c1
}

.Avatar{
    width: 96px;
    height: 96px;
<<<<<<< HEAD
    border-radius: 50%;
=======
>>>>>>> 364170ec3993ce68917be88bf18b3ac256fb38c1
}

.Description{
    font-size: 18px;
<<<<<<< HEAD
    color: white;
=======
    color: #666;
>>>>>>> 364170ec3993ce68917be88bf18b3ac256fb38c1
    margin-bottom: 16px;
}

.Details{
    display: flex;
<<<<<<< HEAD
    align-items: flex-end;
    flex-direction: column;
    color: #2218A7;
=======
    flex-direction: column;
>>>>>>> 364170ec3993ce68917be88bf18b3ac256fb38c1
}