.Card{
    max-width: 840px;
    margin: 80px auto;
    padding: 24px 40px;
    background-color: #6495ED;
}

.Objective{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 16px;
}

.Owner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding:0  24px 24px 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid white;
}

.Avatar{
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

.Description{
    font-size: 18px;
    color: white;
    margin-bottom: 16px;
}

.Details{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    color: #2218A7;
}